# Expecto Model with multiple variants in input

Working on the Expect model but with each input sequence having a combination of all possible SNPs inside the LD block

## Working to get sequences by building SNP class

In [1]:
#Importing important modules
import pandas as pd
import numpy as np
import Bio
import os
from Bio import Entrez, SeqIO
import itertools
import argparse
import math
import torch
from torch import nn
import numpy as np
import pandas as pd
import h5py
from Multi_specto_class import *
from Multi_specto_funcs import *
Entrez.email  = "pradluzog@gmail.com"
Entrez.api_key = "98ad62666b4bd2dc831f1824727d74d67c08"

In [2]:
#Reading IGAP dataset

igap = pd.read_csv('IGAP_stage_1.txt', sep='\t')
#for my mac
#igap = pd.read_csv('/Users/pradeep/Downloads/IGAP_stage_1.txt', sep = '\t')

In [3]:
#Filtering the igap snps 
igap = igap.sort_values(by = ['Pvalue'], ascending=True)
top_10_igap_snps = igap.iloc[1:10,:]
top_10_igap_snps

,Chromosome,Position,MarkerName,Effect_allele,Non_Effect_allele,Beta,SE,Pvalue
6665078,19,45396665,rs59007384,T,G,0.9812,0.0208,0.0
6665060,19,45388500,rs283811,G,A,0.9726,0.0218,0.0
6665154,19,45427125,rs111789331,A,T,1.3811,0.0321,0.0
6665058,19,45388130,rs34342646,A,G,1.1044,0.0246,0.0
6665057,19,45387596,rs12972970,A,G,1.1072,0.0249,0.0
6665056,19,45387459,rs12972156,G,C,1.1399,0.0256,0.0
6665131,19,45415713,rs10414043,A,G,1.2958,0.0265,0.0
6665112,19,45406673,rs10119,A,G,0.8220,0.0208,0.0
6665148,19,45422946,rs41377151,G,A,1.3511,0.0317,0.0

In [4]:
#Defining a SNP class to perform simple LD filtering duties
class SNP:
    
    def __init__(self,rsid,position,chromosome):
        self.rsid = rsid
        self.position = position
        self.chr = chromosome
    

        
    def check_ld_snps(self,dataset,window = 1000):
        start_position = self.position - window + 1
        end_position = self.position + window
        dataset = dataset[dataset['Chromosome'] == self.chr]
        def extract_neighbour_snps(start_position, end_position, dataset):
            neighbour_snps = []
            for index,row in dataset.iterrows():
                if start_position <= dataset.loc[index,'Position'] <= end_position:
                    neighbour_snps.append(dataset.loc[index,'MarkerName'])
                else:
                    continue
            return neighbour_snps
    
        self.snps_in_window = extract_neighbour_snps(start_position,end_position,dataset)
        return self.snps_in_window
    
    def obtain_snp_sequence(self,window = 1000):
        start_position = self.position - window +1
        end_position = self.position + window
        if int(self.chr) < 10:
            id_chr = "".join(["NC_00000",str(self.chr)])
        else:
            id_chr = "".join(["NC_0000",str(self.chr)])

        handle = Entrez.efetch(db="nucleotide",
                        id = id_chr,
                        rettype = "fasta",
                        strand = 1,
                        seq_start = start_position,
                        seq_stop  = end_position)
        record = SeqIO.read(handle,"fasta")
        self.snp_sequence = str(record.seq)
        return self.snp_sequence
    
    def obtain_all_comb_seq(self,dataset, window = 1000):
        
        def all_snp_combinations(a):
            combinations = []
            for k in range(0,len(a)):
                t = list(itertools.combinations(a,k+1))
                combinations.extend(t)
            return combinations
        
        self.combinations = all_snp_combinations(self.snps_in_window)
        comb_names = ['_'.join(x) for x in self.combinations if len(x)> 0]
        comb_names.append('_'.join(['Ref',self.rsid]))
        combination_dataset = dataset[dataset['MarkerName'].isin(self.snps_in_window)]
        sequences = []
        
        for comb in self.combinations:
            seq_to_change = self.snp_sequence
            start_position = self.position - window + 1
            end_position = self.position + window
            for k in range(0,len(comb)):
                idx = combination_dataset['MarkerName'] == comb[k]
                pos = combination_dataset.loc[idx,'Position']
                allele = str(combination_dataset.loc[idx,'Non_Effect_allele'].values[0])
                net_pos = int(pos) - int(start_position)
                seq_to_change = seq_to_change[:net_pos-1] + allele + seq_to_change[net_pos:]
            sequences.append(seq_to_change)
        sequences.append(self.snp_sequence)
        sequences_named = dict(zip(comb_names,sequences))
        return sequences_named
                
                
    def seq_combination(self,dataset,window = 1000):
        self.check_ld_snps(dataset,window)
        self.obtain_snp_sequence()
        self.combination_seq = self.obtain_all_comb_seq(dataset,window)
        return self.combination_seq
        
    
    def __str__(self):
        return "The SNP in object is "+self.rsid

## Remodelling Chromatin.py from Expecto

In [7]:
#Important library calls
import argparse
import math
import torch
from torch import nn
import numpy as np
import pandas as pd
import h5py

In [8]:
#Inputing the resources for Expect.py
inputsize = 2000
batchSize = 32
maxshift = 800
args_cuda = False

In [9]:
#DL model
class LambdaBase(nn.Sequential):
    def __init__(self, fn, *args):
        super(LambdaBase, self).__init__(*args)
        self.lambda_func = fn

    def forward_prepare(self, input):
        output = []
        for module in self._modules.values():
            output.append(module(input))
        return output if output else input

class Lambda(LambdaBase):
    def forward(self, input):
        return self.lambda_func(self.forward_prepare(input))

class Beluga(nn.Module):
    def __init__(self):
        super(Beluga, self).__init__()
        self.model = nn.Sequential(
            nn.Sequential(
                nn.Conv2d(4,320,(1, 8)),
                nn.ReLU(),
                nn.Conv2d(320,320,(1, 8)),
                nn.ReLU(),
                nn.Dropout(0.2),
                nn.MaxPool2d((1, 4),(1, 4)),
                nn.Conv2d(320,480,(1, 8)),
                nn.ReLU(),
                nn.Conv2d(480,480,(1, 8)),
                nn.ReLU(),
                nn.Dropout(0.2),
                nn.MaxPool2d((1, 4),(1, 4)),
                nn.Conv2d(480,640,(1, 8)),
                nn.ReLU(),
                nn.Conv2d(640,640,(1, 8)),
                nn.ReLU(),
            ),
            nn.Sequential(
                nn.Dropout(0.5),
                Lambda(lambda x: x.view(x.size(0),-1)),
                nn.Sequential(Lambda(lambda x: x.view(1,-1) if 1==len(x.size()) else x ),nn.Linear(67840,2003)),
                nn.ReLU(),
                nn.Sequential(Lambda(lambda x: x.view(1,-1) if 1==len(x.size()) else x ),nn.Linear(2003,2002)),
            ),
            nn.Sigmoid(),
        )

    def forward(self, x):
        return self.model(x)



def encodeSeqs(seqs, inputsize=2000):
    """Convert sequences to 0-1 encoding and truncate to the input size.
    The output concatenates the forward and reverse complement sequence
    encodings.
    Args:
        seqs: list of sequences (e.g. produced by fetchSeqs)
        inputsize: the number of basepairs to encode in the output
    Returns:
        numpy array of dimension: (2 x number of sequence) x 4 x inputsize
    2 x number of sequence because of the concatenation of forward and reverse
    complement sequences.
    """
    seqsnp = np.zeros((len(seqs), 4, inputsize), np.bool_)

    mydict = {'A': np.asarray([1, 0, 0, 0]), 'G': np.asarray([0, 1, 0, 0]),
            'C': np.asarray([0, 0, 1, 0]), 'T': np.asarray([0, 0, 0, 1]),
            'N': np.asarray([0, 0, 0, 0]), 'H': np.asarray([0, 0, 0, 0]),
            'a': np.asarray([1, 0, 0, 0]), 'g': np.asarray([0, 1, 0, 0]),
            'c': np.asarray([0, 0, 1, 0]), 't': np.asarray([0, 0, 0, 1]),
            'n': np.asarray([0, 0, 0, 0]), '-': np.asarray([0, 0, 0, 0])}

    n = 0
    for line in seqs:
        cline = line[int(math.floor(((len(line) - inputsize) / 2.0))):int(math.floor(len(line) - (len(line) - inputsize) / 2.0))]
        for i, c in enumerate(cline):
            seqsnp[n, :, i] = mydict[c]
        n = n + 1

    # get the complementary sequences
    dataflip = seqsnp[:, ::-1, ::-1]
    seqsnp = np.concatenate([seqsnp, dataflip], axis=0)
    return seqsnp

def get_predicted_diff(snp_comb_seq,inputsize = 2000, batchSize = 32, maxshift = 800, args_cuda = False):
    """
    Function to obtain all the predicted chromatin values for reference and alterante 
    and find the difference among them for further analysis.
    Args:
        snp_comb_seq: A dictionary of sequences as string object with A,T,G,C characters
                        and keys corresponding to snps and combinations of snps with atleast
                        one snp having 'Ref' in the key name to denote reference variant
    Return:
            A dictionary of matrix size 4000x2002 for the chromatin difference values for each 
            variant and combination except the reference
    """
    refseqs = [seq for key, seq in snp_comb_seq.items() if 'ref' in key.lower()]
    refseqs = refseqs[0]
    ref_encoded = encodeSeqs(refseqs, inputsize=inputsize).astype(np.float32)

    ref_preds = []
    for i in range(int(1 + (ref_encoded.shape[0]-1) / batchSize)):
        input = torch.from_numpy(ref_encoded[int(i*batchSize):int((i+1)*batchSize),:,:]).unsqueeze(2)
        if args_cuda:
            input = input.cuda()
        ref_preds.append(model.forward(input).cpu().detach().numpy().copy())
    ref_preds = np.vstack(ref_preds)
    
    comb_diff_pred = {}
    for comb_seq in snp_comb_seq.keys():

        if('Ref' not in comb_seq):

            altseqs = snp_comb_seq[comb_seq]
            alt_encoded = encodeSeqs(altseqs, inputsize=inputsize).astype(np.float32)

            alt_preds = []
            for i in range(int(1 + (alt_encoded.shape[0]-1) / batchSize)):
                input = torch.from_numpy(alt_encoded[int(i*batchSize):int((i+1)*batchSize),:,:]).unsqueeze(2)
                if args_cuda:
                    input = input.cuda()
                alt_preds.append(model.forward(input).cpu().detach().numpy().copy())
            alt_preds = np.vstack(alt_preds)

            diff = alt_preds - ref_preds
            comb_diff_pred[comb_seq] = diff
    
    
    return comb_diff_pred

In [10]:
model = Beluga()
model.load_state_dict(torch.load('deepsea.beluga.pth'))
model.eval()
#model.cuda()

In [31]:

comb_diff_pred = get_predicted_diff(snp_comb_seq)
f = h5py.File(snp_test +'.diff.h5', 'w')
key_names = list(comb_diff_pred.keys())
for i in key_names:
    f.create_dataset(i, data=comb_diff_pred[i])
f.close()

## Running chromatin prediction for top 10 SNPs and its combinations with LD blocks

In [ ]:
for k in range(0,len(top_10_igap_snps)):
    snp_test = top_10_igap_snps.iloc[k,2]
    snp_obj = SNP(top_10_igap_snps.iloc[k,2],top_10_igap_snps.iloc[k,1],top_10_igap_snps.iloc[k,0])
    snp_comb_seq = snp_obj.seq_combination(igap)
    comb_diff_pred = get_predicted_diff(snp_comb_seq)
    f = h5py.File(snp_test +'.diff.h5', 'w')
    key_names = list(comb_diff_pred.keys())
    for i in key_names:
        f.create_dataset(i, data=comb_diff_pred[i])
    f.close()

## Recoding Predict.py from Expecto

In [64]:
s = pd.read_csv('example.vcf',sep = "\t", header = None)

In [65]:
s

      0         1  2  3  4
0  chr1   1265154  -  C  T
1  chr1   1265460  -  C  T
2  chr1   2957600  -  T  C
3  chr1   3691528  -  G  A
4  chr1   8021919  -  C  G
5  chr1   8939842  -  G  A
6  chr1  10457540  -  T  C
7  chr1  11072117  -  C  T
8  chr1  11072691  -  G  A
9  chr1  11083408  -  G  A

### Obtaining all SNPs to use for filtering HG19 vcf file

In [91]:
snp_to_filter = []
for k in range(0,len(top_10_igap_snps)):
    snp_obj = SNP(top_10_igap_snps.iloc[k,2],top_10_igap_snps.iloc[k,1],top_10_igap_snps.iloc[k,0])
    snp_to_filter.append(snp_obj.check_ld_snps(igap))
snp_to_filter = [item for sublist in snp_to_filter for item in sublist]

#Writing the snps only from IGAP
with open('SNPs_to_filter_IGAP_top10_LD.txt', 'w') as filehandle:
    for sn in snp_to_filter:
        filehandle.write('%s\n' % sn)
        
#Obtaining the vcf file for prediction of cell types     
igap_ld_snps = igap[igap['MarkerName'].isin(snp_to_filter)]
chr_vals = [''.join(['chr',str(chro)]) for chro in igap_ld_snps['Chromosome']]
pos_vals = [int(pos) for pos in igap_ld_snps['Position']]
ref_vals = [str(ref) for ref in igap_ld_snps['Effect_allele']]
alt_vals = [str(alt) for alt in igap_ld_snps['Non_Effect_allele']]
igap_ld_snps_vcf = pd.DataFrame({'chr':chr_vals,'pos':pos_vals,'-':len(chr_vals)*['-'],'ref':ref_vals,'alt':alt_vals})

igap_ld_snps_vcf.to_csv('SNPs_to_filter_IGAP_top10_LD.vcf', header=None, index=None, sep='\t', mode='a')

      chr       pos  - ref alt
0   chr19  45396665  -   T   G
1   chr19  45388500  -   G   A
2   chr19  45427125  -   A   T
3   chr19  45388130  -   A   G
4   chr19  45387596  -   A   G
5   chr19  45387459  -   G   C
6   chr19  45415713  -   A   G
7   chr19  45406673  -   A   G
8   chr19  45422946  -   G   A
9   chr19  45422846  -   A   G
10  chr19  45422160  -   G   C
11  chr19  45416178  -   T   G
12  chr19  45396219  -   T   C
13  chr19  45396144  -   T   C
14  chr19  45415935  -   T   G
15  chr19  45395714  -   C   T
16  chr19  45395909  -   G   C
17  chr19  45395844  -   A   G
18  chr19  45416291  -   T   C
19  chr19  45423636  -   A   G
20  chr19  45427353  -   G   C
21  chr19  45416478  -   A   G
22  chr19  45396973  -   A   G
23  chr19  45397512  -   C   A
24  chr19  45397307  -   T   C
25  chr19  45396899  -   C   T
26  chr19  45426792  -   A   G
27  chr19  45389174  -   A   T
28  chr19  45386634  -   T   C
29  chr19  45388241  -   G   T
30  chr19  45415285  -   G   T
31  chr19  45387034  -   C   A
32  chr19  45387057  -   G   A
33  chr19  45389224  -   A   G
34  chr19  45397229  -   A   G
35  chr19  45407655  -   T   C
36  chr19  45415640  -   A   G
37  chr19  45397171  -   C   G

In [77]:
pos_vals = [int(pos) for pos in igap_ld_snps['Position']]
ref_vals = [str(ref) for ref in igap_ld_snps['Effect_allele']]
alt_vals = [str(alt) for alt in igap_ld_snps['Non_Effect_allele']]

In [89]:
igap_ld_snps_vcf = pd.DataFrame({'chr':chr_vals,'pos':pos_vals,'-':len(chr_vals)*['-'],'ref':ref_vals,'alt':alt_vals})
igap_ld_snps_vcf

      chr       pos  - ref alt
0   chr19  45396665  -   T   G
1   chr19  45388500  -   G   A
2   chr19  45427125  -   A   T
3   chr19  45388130  -   A   G
4   chr19  45387596  -   A   G
5   chr19  45387459  -   G   C
6   chr19  45415713  -   A   G
7   chr19  45406673  -   A   G
8   chr19  45422946  -   G   A
9   chr19  45422846  -   A   G
10  chr19  45422160  -   G   C
11  chr19  45416178  -   T   G
12  chr19  45396219  -   T   C
13  chr19  45396144  -   T   C
14  chr19  45415935  -   T   G
15  chr19  45395714  -   C   T
16  chr19  45395909  -   G   C
17  chr19  45395844  -   A   G
18  chr19  45416291  -   T   C
19  chr19  45423636  -   A   G
20  chr19  45427353  -   G   C
21  chr19  45416478  -   A   G
22  chr19  45396973  -   A   G
23  chr19  45397512  -   C   A
24  chr19  45397307  -   T   C
25  chr19  45396899  -   C   T
26  chr19  45426792  -   A   G
27  chr19  45389174  -   A   T
28  chr19  45386634  -   T   C
29  chr19  45388241  -   G   T
30  chr19  45415285  -   G   T
31  chr19  45387034  -   C   A
32  chr19  45387057  -   G   A
33  chr19  45389224  -   A   G
34  chr19  45397229  -   A   G
35  chr19  45407655  -   T   C
36  chr19  45415640  -   A   G
37  chr19  45397171  -   C   G

In [88]:
len(len(chr_vals)*['-'])

38

In [84]:
len([len(chr_vals)*'-'])

1